<link rel="stylesheet" href="/css/footer.css">
<footer>
    <div class="footeritem1">
        <span class="left">
            <i class="fa-solid fa-globe"></i>
            <span>English(IN)</span>
            <span>&#8377; INR</span>
        </span>
        <span class="right">
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-square-facebook"></i>

        </span>
    </div>
    <div class="footeritem2">
            <div class="updiv">@airbnb.inc</div>
            <div class="downdiv">
                <a>Privacy</a>
                <a>Terms</a>
                <a>Sitemap</a>
                <a>Company Details</a>
            </div>
    </div>
</footer>