<%- layout("/layouts/boilerplate.ejs") %>
<div class="signContainer">
    <h1><span style="color: rgb(238, 59, 92);">S</span>ignUp</h1>
    <div>
        <form action="/signup" method="POST">
            <div>
            <label for="username"></label>
            <input class="input-c" type="text" id="username" name="username" placeholder="username" required>
            </div>

            <div>
            <label for="email"></label>
            <input class="input-c" type="email" id="email" name="email" placeholder="email" required>
            </div>

            <div>
            <label for="password"></label>
            <input class="input-c" type="password" id="password" name="password" placeholder="password" required>
            </div>

            <button class="btn" type="submit">SignUp</button>

        </form>
    </div>
</div>